- title = "Search Wordpress Plugins"
- description = "All 38,000+ Wordpress Plugins a few keystrokes away. Try our unique search experience!"
html(lang="en" ng-app="myApp")
  head
    meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    meta(content=description name="description")
    title
      = title
      | | by Algolia

    link(href="css/main.css" rel="stylesheet")
    link(href="images/favicon.ico" rel="icon")

    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@algolia")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:image:src" content="images/share-twitter.png")

    meta(property="st:title" content=title)
    meta(property="og:site_name" content=title)
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:image" content="images/share-facebook.png")
    meta(property="og:image:width" content=600)
    meta(property="og:image:height" content=285)

  body(ng-controller="SearchCtrl")
    header
      a.logo.hidden-xs(href="https://www.algolia.com" taget="_blank")
        img(src="images/logo-algolia.png")
      a.hidden-zs.btn.btn-primary.btn-try(href="https://www.algolia.com/with/wordpress" taget="_blank")
        i.fa.fa-lightbulb-o
        |  Add Algolia Search to Wordpress #{''}
        i.fa.fa-arrow-circle-o-right

      h1= title
      h3 A Unique Search Experience propulsed by Algolia

      .github-badges.hidden-xs.hidden-sm
        span.share-twitter
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="aloglia">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        span.follow-twitter
          <a href="https://twitter.com/algolia" class="twitter-follow-button" data-show-count="false">Follow @algolia</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      .input-group
        input.form-control(type="search" ng-model="q" placeholder="Search by name, description & tags..." ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 50, 'blur': 0 } }" ng-keyup="$event.keyCode == 13 && submit()" autofocus)
        span.input-group-addon
          i.fa.fa-search

    .container.search-results(ng-cloak ng-if="content")
      .row.plugins(ng-class="{ blur: blurred }")

        .col-md-10.col-md-offset-2.col-sm-8.col-sm-offset-4(ng-if="content.nbHits !== 0")
          .stats
            | Found <strong>{{ content.nbHits | number }}</strong> plugin<span ng-if="content.nbHits !== 1">s</span> in <strong>{{ content.processingTimeMS }}</strong>ms,
            |  by
            a(href="https://www.algolia.com" target="_blank")
              img(src="images/logo-algolia.png")

        .col-lg-12.no-results(ng-if="content.nbHits === 0")
          | No results are matching "<strong>{{ q }}</strong>".

        .col-md-2.col-sm-4.facets.hidden-xs
          .facet(ng-repeat="facet in content.facets")
            h3 {{ facet.name | facetTitle }}
            ul.list-unstyled
              li(ng-repeat="(value, count) in ::facet.data" ng-class="{ refined: (helper.isRefined(facet.name, value)) }")
                span.facet-count {{ count | number }}
                a.facet-value(href="#" ng-click="toggleRefine($event, facet.name, value)") {{ value | facetValue : facet.name }}

        .col-md-5.col-sm-8(ng-repeat="odd in ::[true, false]" ng-class="{ 'hidden-xs hidden-sm' : !odd }")
          .plugin-card(ng-repeat="hit in content.hits track by hit.objectID" ng-class="{ 'hidden-md hidden-lg' : ($odd == odd) }")
            .media.plugin-card-top
              .media-left.plugin-icon
                a(href="https://wordpress.org/plugins/{{ hit.slug }}/")
                  .plugin-logo.media-object(style="background: #efefef url(//ps.w.org/{{ hit.slug }}/assets/icon-128x128.png) top left no-repeat")
                .plugin-ratings
                  i.star.fa(ng-repeat="star in ::hit.stars track by $index" ng-class="{ 'fa-star': (star === 1), 'fa-star-o': (star === 0), 'fa-star-half-full': (star === 0.5) }")
                  small.text-muted  ({{ hit.num_ratings | number }})
              .media-body
                h4.plugin-name
                  a(href="https://wordpress.org/plugins/{{ hit.slug }}/")
                    span(ng-bind-html="hit._highlightResult.name.value")
                p.plugin-desccription(ng-bind-html="hit._highlightResult.short_description.value")
                .plugin-tags
                  span.label.label-default(ng-repeat="tag in ::hit._highlightResult.tags" ng-bind-html="tag.value" ng-if="tag.matchLevel !== 'none'")
              .plugin-author
                | by #{''}
                strong(ng-bind-html="hit._highlightResult.author.value")
            .plugin-card-bottom
              .plugin-updated
                i.fa.fa-clock-o
                |  {{  hit.last_updated | date }}
              .plugin-downloaded
                i.fa.fa-download
                |  {{ hit.downloaded | number }}

    script(src="js/app.js")
